@media screen and (max-width: 400px) {
    body{
        margin: 1em;
    }
    .alert-info{
        margin: 1em;
        border: 1px solid lightgrey;
        background: lightcyan;
        display: flex;
        justify-content: center;
        text-align: center;
    }
   .alert-info a{
        color: black;
       text-decoration: none;
       padding: 1em;
       text-align: center;
       /*width: 339px;*/
    }

   h1 {
       display: flex;
       justify-content: center;
   }

   nav {
       /*display: flex;*/
       justify-content: center;
       /*width: 90%;*/
   }
   .nav-links {
       list-style: none;
       flex-flow: column;
       margin: 0;
       padding: 0;
   }

   .nav-links li {
       margin: 1em;
       padding: 1em;
       background-color: lightgrey;
       /*width: 339px;*/
       text-align: center;

   }

    img{
        display: flex;
        justify-content: center;
        align-self: stretch;
        width: calc(100% - 1em);


 }
    a:visited{
        color: blue;
    }
}


@media screen and (min-width: 401px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: inline-flex;
    }

    nav {
        float: right;
        display: inline-flex;

    }

    .nav-links {
        /*display: inline-flex ;*/
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        margin: .25em;
        padding: .25em;
        display: inline;
        justify-content: end;
    }

    #main {
        display: inline-block;
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .sub-section {
        display: inline-block;
        flex-flow: column wrap;
        justify-content: flex-end;
    }

    img{
        display: flex;
        width: 100%;
        justify-content: center;

    }

}